@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {

  --main-bg-color: brown;
  font-size: clamp(0.9375rem, calc(0.9119rem + 0.1136vw), 1rem);
  font-family: "Open Sans", sans-serif;;
}
body {
  background: #f5f5f5;
}
main {
  padding: 0 5vw;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
}
/*Header*/

header nav ul{
  display: flex;
  gap: 12px;
  width: fit-content;/*fica da largura dos itens da lista*/
  margin: 5vw auto 5vw auto;
  border: 2px solid #d9d9d9;/*solid = linha inteiriça*/
  border-radius:50px;
  padding: 5px;
}
header nav ul li a{
  padding: 6px 12px 6px 12px;
  border-radius: 50px;
  display: block;/*almenta o tamanho geral, agora o link é um bloco de conteúdo*/
}
header nav ul li a:hover/*passando o mouse por cima ele muda de cor*/, header nav ul li a.atual{
  background: black;
color: white;
}

/*Banner*/

main section.banner h1{
font-size: 2rem;
margin: 0 0 3vw 0;
}
main section.banner h1 span{
  font-weight: bolder;/*tem que ver se a fonte dá suporte p/ fazer isso (níveis de bold)*/
}
main section.banner p{
  color: #757575;
}

/*Posts*/

section.post > ul > li/*só p ver as principais, as maiores li's*/{
  background: white;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 2px #eeeded;
  border-radius: 15px;
  padding: 5vw;
  margin: 0 0 6vw 0;
}
section.post ul li h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}
section.post ul li p{
  line-height: 1.5rem;
  color: #757575;
}
section.post ul li ul{
  display: flex;
  gap: 10px;
}
section.post ul li ul li{
  background: #e2e2e2;
  padding: 2px 4px;
  border-radius: 25px;
}

/*Footer*/

footer p{
  color: #757575;
  background: white;
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin: 5px 5vw 10px 5vw;
  text-align: center;
  border-radius: 15px;
}
 main section.links ul li svg{
 width: 5vw;
  }

  /* About */

/* Projects */

main section.work{
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

section.work ul li/*só p ver as principais, as maiores li's*/{
  background: white;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 2px #eeeded;
  border-radius: 15px;
  padding: 2vw;
  margin: 5vw 0 5vw 0;
}
section.work ul{
  margin: 4vw 0 4vw 0;
}
section.work ul li p{
  line-height: 1.5rem;
  color: #757575;
}
section.work ul li h2{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}
section.work ul li img{
  padding: 3vw 0 0 0;
}

/* Conect */

main section.links{
  max-width: 1000px;
  margin: 0 auto 0 auto;
}
section.links ul{
  margin: 5vw 0 5vw 0;
}
main section.links ul li a{
  display: flex;
  font-size: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
main section.links ul li{
  color: #757575;
  background: white;
  border: 1px solid #dcdcdc;
  text-align: center;
}
section.links ul li/*só p ver as principais, as maiores li's*/{
  background: white;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 2px #eeeded;
  border-radius: 15px;

  margin: 0 0 2vw 0;
}

main section.links ul li svg{
  width: 10vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main section.banner, main section.post ul, main section.links ul{
    display: grid;
    grid-template-columns: 1fr 1fr;/*divide em frações*/
    max-width: 1000px;
    margin: 0 auto 0 auto;/*pro elemento nn se estender infinitamente*/
    gap: 30px;
  }
  main section.post > ul > li{
    padding: 1.5vw;
    margin: 0;
  }
  main{
    padding: 0;
    margin: 5vw 0 5vw 0;
  }
  footer p{
    max-width: 1000px;
    margin: 3vw auto 4vw auto;
  }
  main section.links ul li svg{
 width: 5vw;
  }
} 

